// миксин для чекбоксов без параметров
.mix-input-label-paddings () {
    height: 18px;        
    padding-left:  @my-one-gutter;
    padding-right: @my-one-gutter;
}

.mix-unselectable () {
  //   user-select:    none;
  -moz-user-select:    none;
  -webkit-user-select: none;
  -ms-user-select:     none;
}

// переопределение кнопки bootstrap 
.btn-primary {
    color:  @my-base-font-clr;
    border: @my-button-border;
    background: #e1e4e7;
    background: linear-gradient(to top, #f2f3f5 0%, #e1e4e7 30%, #f2f3f5 100%);
    font-weight: 400;
    padding-left: @my-one-gutter;
    padding-right: @my-one-gutter;
    &:hover {
        color: @my-invert-font-clr;
        border: @my-button-border;
        background: #e1e4e7;
        background: linear-gradient(to top, #f2f3f5 0%, #e1e4e7 30%, #f2f3f5 100%);
        &:active{
            color: @my-invert-font-clr;
            border: @my-button-border;
            background: #e1e4e7;
            background: linear-gradient(to top, #f2f3f5 0%, #e1e4e7 30%, #f2f3f5 100%);
        }
    }
    &:active {
        color: @my-invert-font-clr;      
        border: @my-button-border;        
        background: #e1e4e7;
        background: linear-gradient(to top, #f2f3f5 0%, #e1e4e7 30%, #f2f3f5 100%);
    }
    &.active {
        color: @my-base-font-clr;
        border: @my-button-border;
        background: #f6e536;
        background: linear-gradient(to bottom, #f2c643 0%, #f6e536 100%);
        &:hover {
            color: @my-invert-font-clr;
            border: @my-button-border;
            background: #f6e536;
            background: linear-gradient(to bottom, #f2c643 0%, #f6e536 100%);
        }
    }    
}

// кнопка ВЫБРАТЬ ВЫБРАН 
.my-button { //
    color: @my-base-font-clr;
    border: none;
    background: #e77b02;
    background: linear-gradient(to bottom, #fcbd2d 0%, #e77b02 100%); 
    font-weight: 400;    
    padding-left:  30px;
    padding-right: 30px;
    border-radius: 4px;
    box-shadow: 0 5px 7px 0 #eee;    
    &:hover{ //
        color: @my-invert-font-clr;
        background: #e77b02;
        background: linear-gradient(to bottom, #fcbd2d 0%, #e77b02 100%); 
        transition: color .1s;
    }
    &:active { 
        color: @my-invert-font-clr;
        background: #e77b02;
        background: linear-gradient(to bottom, #fcbd2d 0%, #e77b02 100%); 
    }
    &:hover:active {
        color: @my-invert-font-clr;
        background: #e77b02;
        background: linear-gradient(to bottom, #fcbd2d 0%, #e77b02 100%); 
    }
    &.active {
        background: #ffc64a;
        background: linear-gradient(to bottom, #df942f 0%, #fec449 30%, #ffc64a 100%);
        &:hover {
        background: #ffc64a;
        background: linear-gradient(to bottom, #df942f 0%, #fec449 30%, #ffc64a 100%);
        color: @my-invert-font-clr;            
        }
    }
}

// чекбоксы на основе спрайтов. input + label с картинкой на background
input[type="checkbox"] {
    line-height: @my-line-height;
    &.my-input {
        position: absolute;
        left: @my-out;
    }
    &.my-input + label {
        .mix-unselectable ();
        background: rgba(0,0,0,0) url(../img/checkers.png) 0 -20px no-repeat;
        .mix-input-label-paddings();
        font-weight: 400;        
    }
    &:checked.my-input + label {
        .mix-unselectable ();
        background: rgba(0,0,0,0) url(../img/checkers.png) 0 0 no-repeat;
        .mix-input-label-paddings();
        font-weight: 400;
    }    
}

// всплывающая подсказка
.my-popover {max-width: 330px; width: 330px;}
.popover-content  {max-width: 340px; width: 340px;}