@my-base-font-clr: #000; // основной цвет
@my-invert-font-clr: #fff; // инверсный цвет

@my-out: -9999px; // отступ за пределами экрана

// идеально было бы всё сверстать со страндартным отступами
@my-quoter-gutter:   6px;  // четверть стандратного гуттера
@my-half-gutter:     12px; // половина стандратного гуттера
@my-one-gutter:      24px; // стандратный гуттер
@my-one-half-gutter: 36px; // полтора стандартного гуттера
@my-double-gutter:   48px; // двойной гуттер

@my-line-height: 1.666; 

@my-bold: 600;

@my-button-border: 1px solid #c9cdd6; // рамка для кнопок
@my-main-back-clr: #ebeef0; // основной цвет body


@my-font-folder:'../fonts/';
@my-img-folder: '../img/';