@my-font-folder:'../fonts/';
//use http://www.font2web.com to generate all font formats
.add-font(@font-url, @font-name, @font-weight: normal, @font-style: normal) {
  font-family: @font-name;
  src: url('@{my-font-folder}@{font-url}.eot'); // IE9 Compat Modes 
  src: url('@{my-font-folder}@{font-url}.eot?#iefix') format('embedded-opentype'), // IE6-IE8 
  url('@{my-font-folder}@{font-url}.woff') format('woff'), // Pretty Modern Browsers 
  url('@{my-font-folder}@{font-url}.ttf') format('truetype'), // Safari, Android, iOS 
  url('@{my-font-folder}@{font-url}.svg#@{font-name}') format('svg'); // Legacy iOS  
  font-weight: @font-weight;
  font-style: @font-style;
}

//.transition(@prop: all, @time: 0.3s, @ease: ease-in-out) {
//  transition: @prop @time @ease;
//}

@font-face{.add-font('RobotoBlack/RobotoBlack',     'Roboto', 800);}
@font-face{.add-font('RobotoBold/RobotoBold',       'Roboto', 600);}
@font-face{.add-font('RobotoMedium/RobotoMedium',   'Roboto', 500);}
@font-face{.add-font('RobotoRegular/RobotoRegular', 'Roboto', 400);}
@font-face{.add-font('RobotoLight/RobotoLight',     'Roboto', 200);}