body {
    background-color: @my-main-back-clr;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}

div.container.main {
    padding: @my-one-half-gutter @my-half-gutter @my-one-gutter @my-half-gutter;
    margin-bottom: @my-double-gutter;
    background-color: #fff;
    //position: relative;
    background: #fff url("../img/angle.png") top -16px right 0 no-repeat;
    box-shadow: -10px 10px 15px 0 #ddd;
}

// цвет выделенного блока
.selected {background-color: #f8f7f7;}

// цвет станций метро черезстрочный
.my-clr-odd {color: #028147;}
.my-clr-even{color: #043a94;}

// отступы для строк основной разметки
.row {
    padding-left: @my-double-gutter;
    padding-right: @my-one-gutter;
    &.indent { 
        padding-bottom: @my-one-half-gutter;
    }
}

// PaDding Bottom PDB
.pdb-one {padding-bottom: @my-one-gutter;}
.pdb-half {padding-bottom: @my-half-gutter;}
// PaDding Top PDT
.pdt-half {padding-top: @my-half-gutter;}

.record-wrap {
    margin: 0 -@my-half-gutter 0 -@my-half-gutter;
    padding: @my-half-gutter @my-half-gutter 0 @my-half-gutter;
    
}

header div h1 {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 1.666em;
    font-weight: 800;
}

.delivery-title {
    font-weight: 400;
    margin: @my-half-gutter 0 0 -@my-one-gutter;
}

a.city {
    border-bottom: 2px dotted;
    line-height: 3.4;
    text-decoration: none;
    font-weight: 400;
}

img.logo {
    padding-right: @my-one-gutter; // 20    
}

span.company-name {
    font-weight: 600;
    margin-right: @my-one-gutter;    
}

.point-type {
    font-size: 0.93em;
    font-weight: 200;
    padding: 5px;
}

p.address {
    display: inline-block;
    padding-left: 100px;
    margin: 0;
    span{
        font-weight: 400;
    }
}

img.logo-metro {
    padding-right: @my-quoter-gutter; 
}

span.info-x {
    font-weight: 400;
}

.price-currency {
    float: left;
    font-weight: 600;
    padding-top: @my-half-gutter;
}

.company-info {
    display: inline-block;
    vertical-align: top;
    padding-top: @my-half-gutter;
    font-weight: 400;    
}

p.short-text {
    padding-left: 16px;
    padding-bottom: @my-one-gutter;
    text-align: justify;
    font-weight: 200;
}

div.map {
    margin-left: -@my-double-gutter;
    margin-right: -@my-one-gutter;
}

// анимация появления информационой строки
.animate-box {opacity: 1;}
.animate-box.ng-hide {opacity: 0;}
.animate-box.ng-hide-add, .animate-box.ng-hide-remove {transition: all linear .3s;}

 span.icon-dtype {
    display: inline-block;
    height: 40px;
    width: 70px;
    margin-right: @my-one-gutter; // 20
     &.dpd {
        background: rgba(0,0,0,0) url(../img/dtype.png) 0 0 no-repeat;
     }
     &.dostavista {
    background: rgba(0,0,0,0) url(../img/dtype.png) 0 -40px no-repeat;         
     }
     &.sibhealth {
        background: rgba(0,0,0,0) url(../img/dtype.png) 0 -80px no-repeat;         
     }
}

.delivery-buttons {
    margin-left: -56px;
}

.shadow-top {
    position: absolute;
    top: 0;
    width: 100%;
    height: 53px;
    background: url(../img/top_dark.png) repeat-x scroll;
}

.shadow-bottom {
    width: 100%;
    height: 53px;
    background: url(../img/bot_dark.png) repeat-x scroll;
}