@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoBlack/RobotoBlack.eot');
  src: url('../fonts/RobotoBlack/RobotoBlack.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoBlack/RobotoBlack.woff') format('woff'), url('../fonts/RobotoBlack/RobotoBlack.ttf') format('truetype'), url('../fonts/RobotoBlack/RobotoBlack.svg#Roboto') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoBold/RobotoBold.eot');
  src: url('../fonts/RobotoBold/RobotoBold.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoBold/RobotoBold.woff') format('woff'), url('../fonts/RobotoBold/RobotoBold.ttf') format('truetype'), url('../fonts/RobotoBold/RobotoBold.svg#Roboto') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoMedium/RobotoMedium.eot');
  src: url('../fonts/RobotoMedium/RobotoMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoMedium/RobotoMedium.woff') format('woff'), url('../fonts/RobotoMedium/RobotoMedium.ttf') format('truetype'), url('../fonts/RobotoMedium/RobotoMedium.svg#Roboto') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoRegular/RobotoRegular.eot');
  src: url('../fonts/RobotoRegular/RobotoRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoRegular/RobotoRegular.woff') format('woff'), url('../fonts/RobotoRegular/RobotoRegular.ttf') format('truetype'), url('../fonts/RobotoRegular/RobotoRegular.svg#Roboto') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoLight/RobotoLight.eot');
  src: url('../fonts/RobotoLight/RobotoLight.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoLight/RobotoLight.woff') format('woff'), url('../fonts/RobotoLight/RobotoLight.ttf') format('truetype'), url('../fonts/RobotoLight/RobotoLight.svg#Roboto') format('svg');
  font-weight: 200;
  font-style: normal;
}
.btn-primary {
  color: #000;
  border: 1px solid #c9cdd6;
  background: #e1e4e7;
  background: linear-gradient(to top, #f2f3f5 0%, #e1e4e7 30%, #f2f3f5 100%);
  font-weight: 400;
  padding-left: 24px;
  padding-right: 24px;
}
.btn-primary:hover {
  color: #fff;
  border: 1px solid #c9cdd6;
  background: #e1e4e7;
  background: linear-gradient(to top, #f2f3f5 0%, #e1e4e7 30%, #f2f3f5 100%);
}
.btn-primary:hover:active {
  color: #fff;
  border: 1px solid #c9cdd6;
  background: #e1e4e7;
  background: linear-gradient(to top, #f2f3f5 0%, #e1e4e7 30%, #f2f3f5 100%);
}
.btn-primary:active {
  color: #fff;
  border: 1px solid #c9cdd6;
  background: #e1e4e7;
  background: linear-gradient(to top, #f2f3f5 0%, #e1e4e7 30%, #f2f3f5 100%);
}
.btn-primary.active {
  color: #000;
  border: 1px solid #c9cdd6;
  background: #f6e536;
  background: linear-gradient(to bottom, #f2c643 0%, #f6e536 100%);
}
.btn-primary.active:hover {
  color: #fff;
  border: 1px solid #c9cdd6;
  background: #f6e536;
  background: linear-gradient(to bottom, #f2c643 0%, #f6e536 100%);
}
.my-button {
  color: #000;
  border: none;
  background: #e77b02;
  background: linear-gradient(to bottom, #fcbd2d 0%, #e77b02 100%);
  font-weight: 400;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 4px;
  box-shadow: 0 5px 7px 0 #eee;
}
.my-button:hover {
  color: #fff;
  background: #e77b02;
  background: linear-gradient(to bottom, #fcbd2d 0%, #e77b02 100%);
  transition: color .1s;
}
.my-button:active {
  color: #fff;
  background: #e77b02;
  background: linear-gradient(to bottom, #fcbd2d 0%, #e77b02 100%);
}
.my-button:hover:active {
  color: #fff;
  background: #e77b02;
  background: linear-gradient(to bottom, #fcbd2d 0%, #e77b02 100%);
}
.my-button.active {
  background: #ffc64a;
  background: linear-gradient(to bottom, #df942f 0%, #fec449 30%, #ffc64a 100%);
}
.my-button.active:hover {
  background: #ffc64a;
  background: linear-gradient(to bottom, #df942f 0%, #fec449 30%, #ffc64a 100%);
  color: #fff;
}
input[type="checkbox"] {
  line-height: 1.666;
}
input[type="checkbox"].my-input {
  position: absolute;
  left: -9999px;
}
input[type="checkbox"].my-input + label {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  background: rgba(0, 0, 0, 0) url(../img/checkers.png) 0 -20px no-repeat;
  height: 18px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 400;
}
input[type="checkbox"]:checked.my-input + label {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  background: rgba(0, 0, 0, 0) url(../img/checkers.png) 0 0 no-repeat;
  height: 18px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 400;
}
.my-popover {
  max-width: 330px;
  width: 330px;
}
.popover-content {
  max-width: 340px;
  width: 340px;
}
body {
  background-color: #ebeef0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
div.container.main {
  padding: 36px 12px 24px 12px;
  margin-bottom: 48px;
  background-color: #fff;
  background: #fff url("../img/angle.png") top -16px right 0 no-repeat;
  box-shadow: -10px 10px 15px 0 #ddd;
}
.selected {
  background-color: #f8f7f7;
}
.my-clr-odd {
  color: #028147;
}
.my-clr-even {
  color: #043a94;
}
.row {
  padding-left: 48px;
  padding-right: 24px;
}
.row.indent {
  padding-bottom: 36px;
}
.pdb-one {
  padding-bottom: 24px;
}
.pdb-half {
  padding-bottom: 12px;
}
.pdt-half {
  padding-top: 12px;
}
.record-wrap {
  margin: 0 -12px 0 -12px;
  padding: 12px 12px 0 12px;
}
header div h1 {
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: 1.666em;
  font-weight: 800;
}
.delivery-title {
  font-weight: 400;
  margin: 12px 0 0 -24px;
}
a.city {
  border-bottom: 2px dotted;
  line-height: 3.4;
  text-decoration: none;
  font-weight: 400;
}
img.logo {
  padding-right: 24px;
}
span.company-name {
  font-weight: 600;
  margin-right: 24px;
}
.point-type {
  font-size: 0.93em;
  font-weight: 200;
  padding: 5px;
}
p.address {
  display: inline-block;
  padding-left: 100px;
  margin: 0;
}
p.address span {
  font-weight: 400;
}
img.logo-metro {
  padding-right: 6px;
}
span.info-x {
  font-weight: 400;
}
.price-currency {
  float: left;
  font-weight: 600;
  padding-top: 12px;
}
.company-info {
  display: inline-block;
  vertical-align: top;
  padding-top: 12px;
  font-weight: 400;
}
p.short-text {
  padding-left: 16px;
  padding-bottom: 24px;
  text-align: justify;
  font-weight: 200;
}
div.map {
  margin-left: -48px;
  margin-right: -24px;
}
.animate-box {
  opacity: 1;
}
.animate-box.ng-hide {
  opacity: 0;
}
.animate-box.ng-hide-add,
.animate-box.ng-hide-remove {
  transition: all linear .3s;
}
span.icon-dtype {
  display: inline-block;
  height: 40px;
  width: 70px;
  margin-right: 24px;
}
span.icon-dtype.dpd {
  background: rgba(0, 0, 0, 0) url(../img/dtype.png) 0 0 no-repeat;
}
span.icon-dtype.dostavista {
  background: rgba(0, 0, 0, 0) url(../img/dtype.png) 0 -40px no-repeat;
}
span.icon-dtype.sibhealth {
  background: rgba(0, 0, 0, 0) url(../img/dtype.png) 0 -80px no-repeat;
}
.delivery-buttons {
  margin-left: -56px;
}
.shadow-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 53px;
  background: url(../img/top_dark.png) repeat-x scroll;
}
.shadow-bottom {
  width: 100%;
  height: 53px;
  background: url(../img/bot_dark.png) repeat-x scroll;
}
