<!DOCTYPE html>

<HTML lang="en">
 
  <HEAD>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="тестовое задание">
    <meta name="author" content="Гурко Илья">
    <title>Тестовое задание</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/abba.css" rel="stylesheet">
  </HEAD>

  <BODY>
    <div class="shadow-top"></div>
    <HEADER>  
        <div class="container">
            <h1>ВЫБЕРИТЕ СПОСОБ ДОСТАВКИ</h1>
        </div>
    </HEADER>

    <DIV class="container main" ng-app="myApp" ng-controller="myAppCtrl"> 
    
        <SECTION data-section-type="conditions">

            <div class="row indent">
                <div class="col-sm-3 col-md-2">
                    <label class="delivery-title">Способ доставки</label>
                </div>
                <div class="col-sm-9 col-md-10">
                    <div class="btn-group delivery-buttons" style="float: left;">
                        <label class="btn btn-primary" ng-model="deliveryType" uib-btn-radio="'Delivery'">Доставка</label>
                        <label class="btn btn-primary" ng-model="deliveryType" uib-btn-radio="'Pickup'">Самовывоз</label>
                        <label class="btn btn-primary" ng-model="deliveryType" uib-btn-radio="'Pickpoint'">Пункты выдачи</label>
                    </div>        
                </div>        
            </div> <!-- /. row -->

            <div class="row indent">
                <div class="col-sm-6 col-md-3">
                    <input type="search" ng-model="searchString.addressName" class="form-control" placeholder="Поиск по списку"/>
                </div>
                <div class="col-sm-3 col-md-5">
                    <a class="city" href="#!">Россия, Новосибирск</a>
                </div>        
               <div class="col-sm-3 col-md-4 pdb-one">
                    <div class="btn-group" style="float: right;">
                        <label class="btn btn-primary" ng-model="displayType" uib-btn-radio="'asList'">Список</label>
                        <label class="btn btn-primary" ng-model="displayType" uib-btn-radio="'asMap'">На карте</label>
                    </div>
                </div>                
            </div> <!-- /. row -->

            <div class="row pdb-half">
               <div class="col-sm-12">
                    <input type="checkbox" id="checkbox-1" class="my-input"/> <label for="checkbox-1">Пункты выдачи DPD</label>
                    <input type="checkbox" id="checkbox-2" class="my-input"/> <label for="checkbox-2">Частное представительство компании</label>
                    <input type="checkbox" id="checkbox-3" class="my-input"/> <label for="checkbox-3">Постомат такой-то фирмы</label>
                </div>
            </div> <!-- /. row -->

        </SECTION> <!-- /. conditions -->
    
    
        <SECTION data-section-type="records">
        <div class="pdt-half pdb-half" ng-repeat="item in deliveryItems | filter:searchString">
        <section data-section-type="record">
        <div class="record-wrap" ng-class="{selected: item.number == activeDeliveryNumber}">

            <div class="row">
                <div class="col-sm-8">
                <span class="icon-dtype {{item.deliveryData.type}}"></span>
                <div class="company-info">
                    <span class="company-name">{{item.addressName}}</span>   
                    <span class="label label-default point-type ">
                        {{item.deliveryData.displayValue}}
                    </span>
                </div>
                </div>
                <div class="col-sm-2 col-xs-6">
                      <span class="price-currency">
                      {{item.deliveryData.price.sum}}&nbsp;{{item.deliveryData.price.currency}}
                      </span>
                      <div class="clearfix"></div>
                </div>
                <div class="col-sm-2 col-xs-6">
                       <label my-button popover-class="my-popover" type="label"
                           style="float: right;"  my-number="{{item.number}}" 
                           uib-popover="Вы сможете забрать свой заказ в пункте выдачи после получения E-mail уведомления о готовности Вашего заказа для получения."
                           popover-trigger="'mouseenter'" >
                       </label>
                </div>
            </div> <!-- /.row -->

            <div class="row">
                <div class="col-md-6">
                    <p class="address">
                        <span>{{item.address}}</span><br/>
                        <span>Ваш заказ будет храниться {{item.deliveryData.timeHold}}.</span>
                    </p>
                </div>
                <div class="col-md-2">
                    <img src="img/logo_subway.png"/>
                    <span class="info-x" ng-class-even="'my-clr-even'" ng-class-odd="'my-clr-odd'">
                        {{item.subway}}
                    </span>
                </div>
                <div class="col-md-2">
                    <span class="info-x" ng-bind-html="getWorkTime($index)"></span><br/>
                </div>
            </div> <!-- /.row -->

            <div ng-show="item.number==activeDeliveryNumber" class="animate-box">
                <div class="row">
                    <div class="col-md-push-1 col-md-9">
                       <p class="short-text">{{item.text}}</p>
                    </div> 
                </div> <!-- /.row -->
                <div class="row">
                    <div class="map">
                        <img class="img-responsive" src="img/map.jpg"/>
                    </div>
                </div> <!-- /.row -->
            </div>

        </div>     <!-- /.rec-wrap -->
        </section> <!-- /.record-->
        </div>     <!-- /. ng-repeat -->
        </SECTION> <!-- /.SECTION.records -->
                     
    </DIV><!-- /.main container -->    
    
  <div class="shadow-bottom"></div>
    
    <script type="text/javascript" src="js/angular/angular.js"></script>
    <script type="text/javascript" src="js/angular/angular-mocks.js"></script>    
    <script type="text/javascript" src="js/angular/angular-animate.js"></script>
    <script type="text/javascript" src="js/angular/angular-sanitize.js"></script>    
    <script type="text/javascript" src="js/angular/ui-bootstrap-tpls-2.3.1.js"></script>
    
    <script type="text/javascript" src="js/app.js"></script>
  </BODY>
</HTML>